<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
      <!-- <div class="col-md-12">
        <app-tutorial-details
          [viewMode]="true"
          [currentTutorial]="currentTutorial"
        ></app-tutorial-details>
      </div> -->
    </div>
  </div>
  <div class="col-md-12">
    <h4>Tutorials List</h4>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let tutorial of tutorials; let i = index"
          [class.table-active]="i == currentIndex"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ tutorial.title }}</td>
          <td>{{ tutorial.description }}</td>
          <td>{{ tutorial.published ? "Published" : "Pending" }}</td>
          <td>
            <!-- <button
              class="btn btn-info btn-sm mr-2"
              (click)="setActiveTutorial(tutorial, i)"
            >
              View
            </button> -->
            <a
              class="btn btn-warning btn-sm"
              [routerLink]="['/tutorials', tutorial.id]"
            >
              Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button> -->
  </div>
</div>
